body {
  background-color: black;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body.audio {
  background-color: whitesmoke;
}

img {
  max-height: 90vh;
  max-width: 100%;
}

video {
  max-height: 105vh;
}
